# dependencies
node_modules/

# env files
.env
.env.local
.env.*.local

#seeds for fake users
backend/src/seeds

# logs
logs
*.log
npm-debug.log*

# build outputs
dist/
build/

# OS files
.DS_Store
Thumbs.db